<main>
    <section>
        <p>Nombre: {{user.first_name}}</p>
        <p>Apellido: {{user.last_name}}</p>
        <p>Email: {{user.email}}</p>
        <button><a href="" class="link" redirectRoute="/api/sessions/logout">Cerrar sesion</a></button>
    </section>
</main>