<main>
    <section>
        <form action="/api/sessions/restaurar" method="post">
            <input type="email" name="email" id="email" placeholder="email">
            <input type="password" name="password" id="password" placeholder="password">
            <input type="submit" value="Restaurar">
        </form>
    </section>
</main>